{% extends 'shop/basic.html' %}

{% block title%} About - My Ecomm Web{% endblock %}

{% block body %}
<main role="main">
  <div class="jumbotron bg-dark ">
    <div class="container">
      <h1 class="display-3" style="color: white">My Ecomm Website!</h1>
      <p style="color: white;">My Ecomm Website Pvt Ltd. is an Pakistani e-commerce company based in Sargodha, Pakistan. Founded by Huzaifa Arshad in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.
         The service competes primarily with Amazon's Pakistani subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2017, Flipkart held a 39.5% market share of Pakistan's e-commerce industry.[7] Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI). 
         In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Our Values</h2>
        <p>Our core values are the foundation of everything we do. We are committed to sustainability, ensuring that our products are made with eco-friendly materials and processes. We value diversity and inclusivity, celebrating the uniqueness of each individual and promoting a culture of respect and acceptance. Integrity, transparency, and customer satisfaction are at the heart of our business, guiding us to deliver the best shopping experience for our customers.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>Looking ahead, our vision is to redefine fashion by setting new standards for quality, innovation, and customer care. We aim to expand our product range, incorporating the latest trends and technologies to meet the evolving needs of our customers. Our goal is to build a global community of fashion enthusiasts who share our passion for style and sustainability. Join us on this exciting journey as we continue to inspire and be inspired by the world of fashion. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>At Ecomm Website, our mission is to revolutionize the fashion industry by providing high-quality, stylish, and affordable clothing. We are dedicated to designing and producing apparel that reflects the latest trends while maintaining comfort and durability. Our commitment and dedication extends beyond just clothing; we strive to create a positive impact on our community and the environment through sustainable practices and ethical production.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}