{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}}Prod - My Ecomm Web{% endblock %}

{% block css%}
<style>
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  height: 450px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  /*border-bottom: 2px solid #E1E8EE;*/
}

/* Columns */
.left-column {
  width: 50%;
  margin-top: 30px;
  position: relative;
}

.right-column {
  width: 50%;
  margin-top: 60px;
  position: relative;
}

/* Left Column */
.left-column img {
  width: 50%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Right Column */
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center; 
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: blue;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

/*For carousel*/
.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: grey;
}
.col-md-3 img{
width: 170px;
height: 225px;
}
body .carousel-indicator li{
background-color: grey;
}
.carousel-indicators{
bottom: -10%;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: grey;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
width: 5%;

}
.carousel-control-prev {
left: 2%; 
}  
.carousel-control-next {
right: 2%; 
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
</style>
{% endblock%}



{% load static %}
{% block body %}
  <body>
    <main class="container">
      <!-- Left Column / Image -->
      <div class="left-column">
        <img src="/media/{{product.image}}" width="233px" height="385px">
      </div>
      

      <!-- Right Column -->
      <div class="right-column">
        
          <div class="card align-items-center" style="width: 80%;">
              <div class="card-body">
                <h2 class="card-title" id="namepr{{product.id}}">{{product.product_name}}</h2>
                <div class="product-description"><p>{{product.desc}}</p></div>
                <div class="card-title"> <span id="pricepr{{product.id}}"><h4>Price: {{product.price}}</h4></span></div>
                <span id="divpr{{product.id}}" class="divpr"> <button id="pr{{product.id}}" class="btn btn-success btn-lg btn-block cart">Add To Cart</button> </span>
              </div>
          </div>
        
      </div>
    </main>

    <div class="container-fluid mt-4">
      <!--Slideshow starts here -->
      {% for product, range, nSlides in allProds %}
      <h5 class="mt-4 ml-4">Similar Items - {{product.0.category}}</h5>
      <div class="row">
          <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
              <ul class="carousel-indicators">
                  <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                  {% for i in range %}
                  <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                  {% endfor %}
              </ul>
              <div class="container carousel-inner no-padding">
                  <div class="carousel-item active">
                      {% for i in product %}
                      <div class="col-xs-3 col-sm-3 col-md-3">
                          <div class="card align-items-center" style="width: 18rem;">
                              <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                                  <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                                  <h6 class="card-title" >Price: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
                                  <span id="divpr{{i.id}}" class="divpr">
                                      <button id="pr{{i.id}}" class="btn btn-success cart">Add To Cart</button>
                                  </span>
                                  <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-success cart">QuickView</button></a>
                              </div>
                          </div>
                      </div>
                      {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                  </div>
                  <div class="carousel-item">
                      {% endif %}
                      {% endfor %}
                  </div>
              </div>
          </div>
          <!-- left and right controls for the slide -->
          <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
      {% endfor %}
  </div>
  </body>
{% endblock %}



{% block js %}

<script>
  {% if msg|length != 0 %}
  alert('{{msg}}');
  window.location.href = "/"
  {% endif %}
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
      var cart = {};
  } else {
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);
  }
  
  // Function to update the cart
  function updateCart(cart) {
      var sum = 0;
      for (var item in cart) {
          sum += cart[item][0];
          var itemDiv = document.getElementById('div' + item);
          if (itemDiv) {
              itemDiv.innerHTML = "<button id='minus" + item + "' class='btn btn-success minus'>-</button> <span id='val" + item + "'>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-success plus'> + </button>";
          }
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = sum;
      console.log(cart);
      updatePopover(cart);
  }


  // Add Popover to cart
  $('#popcart').popover();
  updatePopover();

  // Updating Popover when item is added
  function updatePopover() {
      console.log('We are inside updatePopover');
      var cart = JSON.parse(localStorage.getItem('cart')) || {};
      var popStr = "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
      var i = 1;
      for (var item in cart) {
          var name = cart[item][1];  // Get the name from the cart object
          popStr += "<b>" + i + "</b>. " + name.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
          i += 1;
      }
      popStr += "</div> <a href='/shop/checkout'><button class='btn btn-success' id='checkout'>Checkout</button></a> <button class='btn btn-success' onclick='clearCart()' id='clearCart'>Clear Cart</button>";
      console.log(popStr);
  
      document.getElementById('popcart').setAttribute('data-content', popStr);
      $('#popcart').popover('show');
  }
  
  
  // Function to clear the cart
  function clearCart() {
      cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart) {
          var itemDiv = document.getElementById('div' + item);
          if (itemDiv) {
              itemDiv.innerHTML = '<button id="' + item + '" class="btn btn-success cart">Add To Cart</button>';
          }
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);
  }
  
  // Event listener for add to cart button
  $('.divpr').on('click', 'button.cart', function() {
      var idstr = this.id.toString();
      if (cart[idstr] != undefined) {
          qty = cart[idstr][0] + 1;
      } else {
          qty = 1;
          var nameElement = document.getElementById('name' + idstr);
          var priceElement = document.getElementById('price' + idstr);
          if (nameElement && priceElement) {
              name = nameElement.innerHTML;
              price = priceElement.innerHTML;
              cart[idstr] = [qty, name, parseInt(price)];
          }
      }
      updateCart(cart);
  });
  
  // Event listener for minus button
  $('.divpr').on('click', 'button.minus', function() {
      var idstr = this.id.slice(7);
      if (cart['pr' + idstr] != undefined) {
          cart['pr' + idstr][0] = cart['pr' + idstr][0] - 1;
          cart['pr' + idstr][0] = Math.max(0, cart['pr' + idstr][0]);
          if (cart['pr' + idstr][0] == 0) {
              document.getElementById('divpr' + idstr).innerHTML = '<button id="pr' + idstr + '" class="btn btn-success cart">Add to Cart</button>';
              delete cart['pr' + idstr];
          } else {
              document.getElementById('valpr' + idstr).innerHTML = cart['pr' + idstr][0];
          }
          updateCart(cart);
      }
  });
  
  // Event listener for plus button
  $('.divpr').on('click', 'button.plus', function() {
      var idstr = this.id.slice(6);
      if (cart['pr' + idstr] != undefined) {
          cart['pr' + idstr][0] = cart['pr' + idstr][0] + 1;
          document.getElementById('valpr' + idstr).innerHTML = cart['pr' + idstr][0];
          updateCart(cart);
      }
  });
</script>   
  
{% endblock %}
